.height-top{
    padding-top: 25vh;
}

.line-1{
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%); 
}

p.line-height-max{
    line-height: 1.8;
}

p.line-height-min{
    line-height: 1.2;
}
/* .animate{
    animation: typewriter 4s steps(44) 1s 1 normal both;
}

@keyframes typewriter {
    from{width: 0;}
    to{width: 24em;}
} */